DATABASE_URL=postgresql+asyncpg://sward:sward@localhost:5432/usuarios_db
SECRET_KEY=cambia-esto-en-produccion
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
REDIS_URL=redis://localhost:6379/0
PERMISSIONS_CACHE_TTL=600
LOGIN_ATTEMPTS_TTL=900
MAX_LOGIN_ATTEMPTS=5
AWS_REGION=us-east-1
EVENTBRIDGE_BUS_NAME=sward-event-bus
ENVIRONMENT=development
SERVICE_NAME=sward-ms-usuarios
AUTHORIZED_SERVICE_KEYS=
